#lock-of{
  width: 100%;
  display: flex;
  justify-content: center;
}
#centered{
  width: 80%;
}
.lock{
  border-radius: 10px;
  /* background: #282c34; */
  background: #9EB599;
  margin-bottom: 5px;
  margin-top: 5px;
  padding-top: 7px;
  width: 100%;
  display: block;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(217, 202, 202);
}
.lock2{
  border-radius: 20px;
  background: #1A120B;
  margin: auto;
  padding: 15px;
  width: 90%;
  display: block;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  color: #E5E5CB;
}
#center{
  display: flex;
  width: 100%;
  justify-content: center;
}
.lock img{
  height: 100%;
  display: block;
  margin-left: 20px;
}
.lock2 img{
  float: left;
  height: 150px;
  width: 150px;
  margin: 15px;
 
}
.id{
  width: 30px;
  height: 100%;
  display: inline-block;
  text-align: center;
  font-weight: 600;
  color: aliceblue;
  background: #9EB599;;
}
.block{
  margin: 15px;
  display: inline-block;
  vertical-align: middle;
  color: rgb(239, 247, 253);
}
.ser{
  
  font-size: 20px;
  margin: 15px;
  font-weight: 600;
}
.dir{
  clear: both;
  margin: 30px;
  margin-left: 15px;
  font-size: 18px;
}
.dir2{
  clear: both;
  font-size: 20px;
  margin: 15px;
  font-weight: 600;
}
.desc{
  font-size: 15px;
  margin-bottom: 5px;
  margin-left: 15px;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.pagination{
  justify-content: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-link {
  color: #61dafb;
} */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
