#header{
    margin-bottom: 30px;
    padding: 15px;
    width: 100%;
    background: black;
    color: white;
    height: 100px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#header h2{
    margin: 10px;
    padding: 10px;
}
  nav{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    background: #632626;
    height: 73px;
    width: 100%;
    margin-bottom: 25px;
  
  }
  label.logo{
    color: wheat;
    font-size: 30px;
    line-height: 80px;
    padding: 0 20px;
    font-weight: bold;
    
  }
  nav ul.a{
    float:right;
    margin-right:10px;
    margin-top: 3px;
  }
  nav ul.a li{
    display: inline-block;
    line-height: 80px;
    margin: 0;
  
  }
  nav ul li a.n{
    text-decoration: none;
  color: wheat;
  font-size: 17px;
  padding: 10px 13px; 
  border-radius: 3px;
  text-transform: uppercase;
  }
  
  a.n:hover{
   
  background: #809A6F;
  }
  
  /* .checkbtn{
    font-size: 30px;
    color: wheat;
    float: right;
    line-height: 80px;
    
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }  */

  